build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
.DS_Store
TAGS
mongodb-domain.yaml
composite-pages.yaml
meta.yaml
build
*~
source/reference/*/*.rst
source/reference/*/*/*.rst
source/reference/*.rst
source/images/*.png
source/images/*.rst
source/includes/hash.rst
fabfile
source/includes/toc/
source/includes/table/
source/includes/steps/
source/includes/generated/includes-overview.rst
source/includes/generated/
source/includes/option/
