body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(to top right, #a18cd1 0%, #fbc2eb 100%);
}

.container {
  max-width: 1000px;
  padding: 25px;
  margin: 0 auto;
  font-size: 18px;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-top: 0;
  color: #fff;
  text-shadow: 0 6px 15px rgba(36,37,38,.28);
  margin-bottom: 25px;
}

.client {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}

.messages {
  overflow-y: scroll;
  width: 100%;
  margin-bottom: 48px; /* 10 + 10 (padding) + 18 (font-size) + 10px extra padding */
}

li {
  list-style-type: none;
  padding: 3px 0;
}

.client input {
  border: none;
  padding: 10px;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid rgba(0, 0, 0, .5);
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0;
  width: 100%;
  left: 0;
}
