.. raw:: latex

   \fancyhead{}
   \fancyfoot{}
   \fancyfoot[C]{ \textbf{MongoDB Advanced Administrators' Training -- \thepage} }

=========================================
MongoDB Advanced Administrators' Training
=========================================

.. raw:: latex

   \vspace{-25mm}
