.. raw:: latex

   \fancyhead{}
   \fancyfoot{}
   \fancyfoot[C]{ \textbf{MongoDB Advanced Administrator Training -- \thepage} }

=========================================
MongoDB Advanced Administrator Training
=========================================

.. raw:: latex

   \vspace{-25mm}
