processManagement:
  fork: true
systemLog:
  destination: file
  path: '/var/log/mongodb/backupdb.log'
replication:
  replSetName: "BACKUPDB"
  oplogSizeMB: 100
storage:
  dbPath: '/mongod-data/backupdb/data'
  wiredTiger:
    engineConfig:
      cacheSizeGB: 2
      journalCompressor: snappy
net:
  port: 40000
