processManagement:
  fork: true
systemLog:
  destination: file
  path: '/var/log/mongodb/blockdb.log'
replication:
  replSetName: "BLOCKSTORE"
  oplogSizeMB: 100
storage:
  dbPath: '/mongod-data/blockstore/data'
  wiredTiger:
    engineConfig:
      cacheSizeGB: 2
      journalCompressor: snappy
net:
  port: 40000
