===================
System Requirements
===================

Before you get started
----------------------

Before we jump in, we'll review the software components required for this
workshop.

In this workshop we will be using software separate from the actual code and
workbooks.

.. include:: /includes/student-notes.rst


Mongomart Java Version
-----------------------

- `Java 8 JDK`_
- `Apache Maven`_

Code has been tested using `Java 8`_ and built using `Apache Maven`_ 3.5.0 .

Other versions may function correctly but we cannot provide efficient support.

.. include:: /includes/student-notes.rst


Mongomart Databases
-------------------

We will be using `MySQL`_ Ver 5.7.18 and `MongoDB 3.4`_.

- `MongoDB 3.4`_
- `MySQL`_ (as of this writing, the newest version is 5.7)

On Windows:

- Don't worry about the installer complaining about some .NET dependencies
- You may have to add ``C:\Program Files\MySQL\MySQL Server 5.7\bin`` to
  your PATH

  - Similarly for Java and MongoDB, depending on how they were installed

.. include:: /includes/student-notes.rst

.. only:: instructor

  .. note::

    On Windows, MySQL may complain about irrelevant dependencies like VisualStudio
    or Excel. Don't worry about those for this lab


Directories
-----------

You'll need to make directories for:

- MongoDB
- MySQL

On mac/linux, you'll need to ``chmod`` your way to read/write permissions

.. include:: /includes/student-notes.rst

.. only:: instructor

  .. note::

    - ``chmod -R 777`` will fix it for windows; if they do this, tell them to
      delete the directories after the workshop
    - Windows users may need to run PowerShell as an administrator


System Editor or IDE
--------------------

During the course of the workshop we will be making some code changes and
compiling code.

Be sure to have your prefered editor or java IDE installed.

IF you have never used a Java IDE, take some time to download and install
Eclipse_ or Intellij_. They're both quite popular.

.. include:: /includes/student-notes.rst


MongoDB Compass
---------------

To review and analyze the MongoDB schema, we will be using
`MongoDB Compass`_.

It's not mandatory for this workshop, but it is highly recommended.

:doc:`/modules/compass`

.. include:: /includes/student-notes.rst


Verifying the System requirements
---------------------------------

On Linux and MacOS

.. code-block:: sh

  ./preflight.sh

On Windows

.. code-block:: powershell

  powershell -executionpolicy bypass -file .\preflight.ps1

.. include:: /includes/student-notes.rst


.. _`Java 8`: http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
.. _`Apache Maven`: https://maven.apache.org/install.html
.. _`MySQL`: https://dev.mysql.com/downloads/installer/
.. _`MongoDB 3.4`: https://docs.mongodb.com/manual/installation/
.. _Intellij: https://www.jetbrains.com/idea/download
.. _Eclipse: http://www.eclipse.org/downloads/eclipse-packages/?show_instructions=TRUE
.. _`MongoDB Compass`: https://www.mongodb.com/products/compass
