.. raw:: latex

   \fancyhead{}
   \fancyfoot{}
   \fancyfoot[C]{ \textbf{MongoDB Advanced Operations Training -- \thepage} }

====================================
MongoDB Advanced Operations Training
====================================

.. raw:: latex

   \vspace{-25mm}
